@import url("normalize.css");
@import url("typography.css");
/*
Title:                Anvil.JS Github Page styles
Author:                Joel Andrew Glovier
Author email:          jglovier@appendto.com
Author URI:            http://appendto.com
Copyright:             appendTo 2013
Created:               12/26/2012
Version:               1.0
*/
/* Color Palatte

black text:            #393939
light gray text:       #ababab
appendTo red:          #c42026

*/
/* Conventions: */
/* Main Categories -------------------- */
/* sub categories */
/* @group Utility & General Styles -------------------- */
/* line 38, ../sass/main.scss */
body {
  background-color: #cfcfcf;
  background-image: url(/images/bgtexture1.jpg);
  background-attachment: fixed;
  font-family: "museosans",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #393939; }

/* line 47, ../sass/main.scss */
.fixed {
  position: fixed; }

/* clearfix (now called group, via http://css-tricks.com/snippets/css/clear-fix/) */
/* line 51, ../sass/main.scss */
.group:before,
.group:after {
  content: "";
  display: table; }

/* line 53, ../sass/main.scss */
.group:after {
  clear: both; }

/* line 55, ../sass/main.scss */
.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* line 57, ../sass/main.scss */
h2, h3 {
  font-family: "blanch";
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px; }

/* line 64, ../sass/main.scss */
h2 {
  font-size: 57px;
  line-height: 34px; }

/* line 66, ../sass/main.scss */
h3 {
  font-size: 46px;
  line-height: 24px; }

/* line 68, ../sass/main.scss */
pre {
  background-color: #3a3a3a;
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url(/images/prebg.jpg);
  border: 1px solid #000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  padding-right: 60px;
  text-shadow: 0px 2px 1px #000;
  display: inline-block; }

/* @end general styles */
/* @group Page Header -------------------- */
/* line 88, ../sass/main.scss */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 308px;
  height: 100%;
  padding: 0 22px;
  background-color: #000;
  background: url(/images/bgtexture2.png) repeat-y 100% top;
  color: #fff;
  text-align: center; }
  /* line 100, ../sass/main.scss */
  .page-header .anvil-logo {
    margin: 44px auto 33px;
    display: block; }
  /* line 102, ../sass/main.scss */
  .page-header .installation {
    background-color: #c42026;
    background: url(/images/installbg.png) center top;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
    /* line 108, ../sass/main.scss */
    .page-header .installation h3 {
      text-shadow: 0 2px 1px #000;
      margin-bottom: 10px;
      background: url(/images/dwnicon.png) no-repeat left 0;
      letter-spacing: 1px; }
    /* line 114, ../sass/main.scss */
    .page-header .installation pre {
      background-color: #000;
      margin: 0;
      padding: 5px 15px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      color: #d4d4d4;
      display: block; }
      /* line 122, ../sass/main.scss */
      .page-header .installation pre:before {
        content: "$";
        color: #595959;
        margin-right: 5px;
        margin-left: -5px; }
  /* line 133, ../sass/main.scss */
  .page-header .github-links {
    font-size: 13px;
    margin: 22px 0 28px; }
    /* line 135, ../sass/main.scss */
    .page-header .github-links a {
      color: #ababab; }
    /* line 137, ../sass/main.scss */
    .page-header .github-links a:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(/images/giticon.png) no-repeat left center;
      margin-right: 8px;
      position: relative;
      top: 5px; }
    /* line 148, ../sass/main.scss */
    .page-header .github-links .watch {
      margin-right: 24px; }
    /* line 150, ../sass/main.scss */
    .page-header .github-links .fork:before {
      background: url(/images/giticon.png) no-repeat right center; }
  /* line 153, ../sass/main.scss */
  .page-header .documentation-nav {
    background-color: rgba(68, 68, 68, 0.4);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    padding: 10px; }
    /* line 158, ../sass/main.scss */
    .page-header .documentation-nav h3 {
      margin: 10px 0;
      color: #c42026;
      letter-spacing: 1px; }
    /* line 160, ../sass/main.scss */
    .page-header .documentation-nav ol {
      text-align: left;
      padding-left: 30px;
      font-size: 14px;
      overflow: scroll;
      max-height: 200px; }
    /* line 167, ../sass/main.scss */
    .page-header .documentation-nav li {
      margin-bottom: 5px; }
    /* line 169, ../sass/main.scss */
    .page-header .documentation-nav a {
      color: #fff;
      text-decoration: none; }
  /* line 173, ../sass/main.scss */
  .page-header .compatibility {
    position: absolute;
    bottom: 55px;
    left: 37px;
    font-family: "museosansbold";
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #7d7d7d; }
    /* line 183, ../sass/main.scss */
    .page-header .compatibility .logo-icons {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: 116px;
      height: 35px;
      background: url(/images/compicon.png) no-repeat center center;
      display: inline-block;
      position: relative;
      top: -10px;
      margin-left: 10px; }
  /* line 199, ../sass/main.scss */
  .page-header .appendto-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    font-family: "museosansbold";
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
    /* line 211, ../sass/main.scss */
    .page-header .appendto-link a {
      color: #c42026;
      text-decoration: none; }
    /* line 212, ../sass/main.scss */
    .page-header .appendto-link a:hover {
      text-decoration: underline; }

/* @end page header */
/* @group Page Content -------------------- */
/* line 221, ../sass/main.scss */
.page-content {
  margin-left: 352px;
  padding: 18px 22px 22px; }
  /* line 223, ../sass/main.scss */
  .page-content .tagline {
    background: url(/images/h1-icon-bg.png) no-repeat center center;
    height: 96px;
    font-family: "blanch";
    text-align: center;
    text-transform: uppercase;
    font-size: 77px;
    margin: 0 0 14px;
    line-height: 40px;
    letter-spacing: 3px;
    word-spacing: 3px;
    padding-top: 38px; }
  /* line 238, ../sass/main.scss */
  .page-content .content-section {
    background-color: #eeeeee;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); }
    /* line 246, ../sass/main.scss */
    .page-content .content-section p {
      margin: 1em 0 0; }
  /* line 249, ../sass/main.scss */
  .page-content pre:last-child {
    margin-bottom: 0; }
  /* line 251, ../sass/main.scss */
  .page-content a {
    color: #c42026; }
  /* line 253, ../sass/main.scss */
  .page-content h3 {
    margin-top: 40px; }

/* @end Page Content */
