article#about( class="content-section" )
	:markdown
		## About

		Build tools that require a lot of explicit/declarative instructions are distracting.
		Anvil is a build system with an extension-based architecture that prefers convention over configuration. There are a lot of great ways to add new features or change almost any behavior as needed.  
		
		### This Site
		This site is a group effort to document the features and some of the extensions to Anvil. The source to the site itself is hosted [here](http://github.com/anviljs/anviljs.github.com).
		If you so desire, you can submit pull requests to add documentation for your extensions or for things about the system you'd like to see covered.  
	// /#about-anvil