#contributors( class="contributors content-section" )
	h2 Contributors
	p Special thanks to the following individuals who have contributed source code or ideas to help make anvil less buggy and more useful:

	ul( class="contributors-list" )
		li: a( href="https://github.com/dcneiner" ) Doug Neiner
		li: a( href="https://github.com/eliperelman" ) Eli Perelman
		li: a( href="https://github.com/jcreamer898" ) Jonathan Creamer
		li: a( href="https://github.com/brianedgerton" ) Brian Edgerton
		li: a( href="https://github.com/ifandelse" ) Jim Cowart
		li: a( href="https://github.com/elijahmanor" ) Elijah Manor
		li: a( href="https://github.com/aaronmccall" ) Aaron McCall
		li: a( href="https://github.com/mikesten" ) Mike Stenhouse
		li: a( href="https://github.com/robertmesserle" ) Robert Messerle
		li: a( href="https://github.com/mikehostetler" ) Mike Hostetler
		li: a( href="https://github.com/derickbailey" ) Derick Bailey
	// /#contributors