article#home( class="content-section" )
	:markdown
		## A Convention over Configuration Build System

		Anvil is a Convention over Configuration Build System.  Anvil provides intelligent defaults for automating your web application development workflow, making you more productive, while allowing you to customize Anvil to your specific workflow through a robust extension system.

		### You don't need a build file to get started

		Use Anvil's [conventions](/public/conventions.html) right out of the box to [get started](/public/quick-start.html).  Once you've mastered the basics, learn to [configure](/public/configuration.html) and [extend](/public/extensions.html) Anvil to hammer your code into shape.  Extending Anvil is easy through [Plugins](/public/plugins.html), [Commands](/public/commands.html), [Scaffolds](/public/scaffolds.html) and [Tasks](/public/tasks.html).  
		
	// /#home-anvil
