article#legal( class="legal content-section" )
	h2 Legal Bits

	p
		span "Anvil.js"( also referred to as "Anvil") is owned by 
		a( href="https://github.com/arobson" ) Alex Robson
		span.  All rights not explicitly granted in the MIT or GPL license are reserved. See the included LICENSE-* files for more details.

	p Extensions to Anvil (plugins, commands, tasks, etc.) are not part of Anvil itself, and are the sole property of their respective maintainers.  While every effort is made to ensure accountability, there is absolutely no guarantee, warrantee, or assertion made as to the quality, fitness for a specific purpose, or lack of malice in any given extension.  Extensions published on the npm registry are not affiliated with or endorsed by myself (Alex Robson) or my employer unless otherwise stated in the repository for the extension.

	p 
		span If you have a complaint about an extension, and cannot resolve it with the package owner, please express your concerns to 
		a( href="mailto:anviljs@gmail.com" ) anviljs@gmail.com.

	h3 In plain english

	p This is mine; not my employer's. They have graciously supported the efforts and made contributions but are in no way responsible or liable for it's suitability or function.

	p If you create and publish an extension, it's yours, and you are solely accountable for it. Not me, not my employer.

	p If other people create and publish an extension, it's theirs.  Not mine, not my employer's.

	p Malicious extensions could be published; consider the author behind the extension and perhaps review the code. There is no vetting process for published extensions.

	p If this concerns you, inspect the source before installing or using any extension.

	// /#legal