extends header

block append nav
	li: a( href="index.html" ) About
	li: a( href="/public/quick-start.html" ) Quick Start
	li: a( href="/public/conventions.html" ) Conventions
	li: a( href="/public/configuration.html" ) Configuration
	li: a( href="/public/http-host.html" ) HTTP Host
	li: a( href="/public/process-host.html" ) Process Host
	li: a( href="/public/extensions.html" ) Extensions
	ul
		li: a( href="/public/plugins.html" ) Plugins
		li: a( href="/public/commands.html" ) Commands
		li: a( href="/public/scaffolds.html" ) Scaffolds
		li: a( href="/public/tasks.html" ) Tasks